* { margin: 0; padding: 0; box-sizing: border-box; }
:root { --primary: #2563eb; --light: #f5f7ff; --dark: #1e1e1e; --radius: 18px; }
body { margin: 0; font-family: Arial, sans-serif; background: white; color: var(--dark); }
.app { max-width: 1200px; margin: 0 auto; }
/* ===== Header ===== */
.header { display: flex; justify-content: space-between; align-items: center; padding: 20px 40px; background: var(--primary); color: white; font-size: 20px; position: sticky; top: 0; z-index: 100; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); opacity: 0.9; }
.header nav a { color: white; text-decoration: none; margin-left: 30px; font-size: 16px; }



/* ===== Home ===== */
.home { width: 100%;}
.hero { background: var(--light); margin: 40px 40px 0px 40px; padding: 40px; border-radius: var(--radius); text-align: center; min-height: 200px; display: flex; flex-direction: column; justify-content: center; border: 2px solid #d6dcff; }
.cta-button { background: var(--primary); border: none; padding: 10px 30px; margin: 20px auto; border-radius: 100px; color: white; font-size: 16px; cursor: pointer; }



/* CARDS */
.cards { display: flex; justify-content: center; gap: 40px; padding: 20px 40px; }
.card { background: var(--light); padding: 20px; height: 260px; border-radius: var(--radius); border: 2px solid #d6dcff; display: flex; flex: 1; flex-direction: column; align-items: center; justify-content: space-between; text-align: center; }
.card-title { font-weight: bold; padding-bottom: 10px; }
.button-wrapper { display: flex; }